spring:
  flyway:
    locations: classpath:migration/versions

  datasource:
    url: jdbc:postgresql://localhost:5432/examples
    username: sa
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: false

fwkcna:
  jpa:
    data-migration:
      disabled: false
